.brand{
  background-color: #F8F8F8;
  border-top: 1px solid #d9fff5;
}
.brand__container{
  background: linear-gradient(90deg, #f8f8f8 0%, #fff 100%);
  height: 80px;
}
.brand__paragraph{
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #7e7e82;
  padding-left: 16px;
  padding-top: 16px;
}
.brand__container-laptop{
  display: none;
  margin-top: 24px;
  width: 720px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
}

.brand__list{
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
}

.brand__item{
  width: 224px;
  height: 72px;
  background: #ffffff;
  border-radius: 6px;
  padding-left: 16px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #eaeaea;
}

.brand__button{
  width: 40px;
  height: 40px;
  border: 2px solid #FF3E79;
  border-radius: 50%;
  color: #FF3E79;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
  padding-left: 2px;
}

.brand__item--hidden{
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: 0.4s;
  margin-bottom: 0;
}

.brand__item--active{
  opacity: 1;
  height: 72px;
  margin-bottom: 16px;
}

.brand__item--active1120{
  opacity: 1;
  height: 72px;
  margin-bottom: 16px;
}