
.header__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 19px;
  padding-bottom: 19px;
}
.link{
  width: 40px;
  height: 40px;
  background-color: #FF3E79;
  border-radius: 50%;
  color: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.header__menu-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  width: 100%;
  overflow: auto;
}
.header__logo{
  width: 97px;
  height: 50px;
  color: #80949F;
}
.header__button{
  width: 40px;
  height: 40px;
  background-color: #FF3E79;
  border-radius: 50%;
  color: white;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.header__menu{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 16px;
  width: 40%;
}
.header__menu--before::before{
  content: "";
  width: 2px;
  height: 32px;
  background-color: #eaeaea;
  border-radius: 1px;
}