@media (width >=768px) {
  .info{
    display: flex;
    justify-content: space-between;
    min-width: 720px;
    width: 90%;
    margin: 0 auto;
  }
  .info__banner{
    border-radius: 6px;
    margin: 0;
    width: 100%;
  }
  .info-container-img{
    min-width: 360px;
    width: 50%;
    margin: 0;
    margin-bottom: 40px;
  }
  .info-container{
    min-width: 312px;
    width: 43%;
    margin: 0;

  }
  .main__info-text--none{
    display: block;
  }
  .main__info-text--1120{
    display: none;
  }
  .header__item--repair{
    order: 2;
  }
  .header__item--repair:before{
    content: "";
    width: 2px;
    height: 32px;
    background-color: #eaeaea;
    border-radius: 1px;
  }
  .header__item--repair{
    display: flex;
    align-items: center;
    gap: 16px;
  }
  .header__item--search{
    order: 3;
  }
  .header__menu--before::before{
    display: none;
  }
  .header__menu{
    width: 290px;
  }
  .header__logo::before{
    content: "";
    width: 2px;
    height: 32px;
    background-color: #eaeaea;
    border-radius: 1px;
  }
  .header__logo{
    width: 120px;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: auto;
  }
  .header__button{
    margin-right: 20px;
  }


  .brand__container-slider{
    display: none;
  }
  .brand__container-laptop{
    display: block;
  }
  .brand__container{
    height: 56px;
  }
  .brand__paragraph{
    padding-left: 24px;
  }
}


/*--------------------------------------------*/


@media (width >=1120px) {
  .header{
    display: none;
  }
  .info-container-img{
    width: 531px;
    height: 307px;
  }
  .main__info-text--1120{
    display: inline;
  }
  .info{
    width: 1060px;
  }
  .info-container{
    width: 490px;
  }
  .main__menu{
    width: 1060px;
    margin: 0 auto;
    margin-bottom: 15px;
    height: 82px;
  }
  .main__menu-link--active{
    margin-left: 0;
  }
  .main__menu-list{
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 82px;
    align-content: space-between;
  }
  .mainH__h1{
    gap: 30px;
  }
  .mainH-desktop__list{
    display: flex;
    gap: 32px;
  }
  .mainH-desktop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 32px;
  }
  .mainH-desktop__link--did::after{
    content: url("icons/ic/screw.svg");
    width: 40px;
    height: 40px;
    background-color: #FF3E79;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
  }
  .mainH-desktop__link{
    text-decoration: none;
    color: #1b1c21;
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .mainH-desktop__link--status::after{
    content: url("icons/ic/search.svg");
    width: 40px;
    height: 40px;
    background-color: #FF3E79;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
  }

  .brand__container-laptop{
    width: 1056px;
  }
  .brand__paragraph{
    padding-left: 32px;
  }
  .brand__list{
    column-gap: 32px;
  }
  .brand__item{
    width: 240px;
  }
}