.header-aside-menu__navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 19px;
  padding-bottom: 19px;
}
.header-aside-menu__button{
  width: 40px;
  height: 40px;
  background-color: #FF3E79;
  border-radius: 50%;
  color: white;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.header-aside-menu__logo{
  width: 97px;
  height: 50px;
  color: #80949F;
  margin-right: 60px;
}