.main-aside-menu__inner{
  margin-top: 10px;
}
.main-aside-menu__link{
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #1b1c21;
  text-decoration: none;
  height: 64px;
  transition: 0.2s;
  padding-left: 24px;
  align-items: center;
}
.main-aside-menu__link--active{
  opacity: 0.6;
}
.main-aside-menu__item--active{
  display: flex;
  align-items: center;
}
.main-aside-menu__item--active::before{
  content: '';
  width: 4px;
  height: 32px;
  background: url("/icons/ic/highlight2.svg");
}
.main-aside-menu__link:hover{
  opacity: 0.6;
}