@font-face {
  font-family: 'TTLakes';
  src: url('TTLakes-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
} /* Подключение шрифтов */
@font-face {
  font-family: 'TTLakes';
  src: url('TTLakes-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'TTLakes';
  src: url('TTLakes-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/*--------------------------------------------*/

.aside-menu-inner{
  width: 320px;
  background-color: white;
}

body{
  overflow-x: hidden;
  font-family: 'TTLakes', sans-serif;
  background-color: #ECECEC;
}